Repository xTinox/DevOps---Angular: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-back, build-front

build-back:
  image: registry.gitlab.inria.fr/diverse/docker/docker-image/insa-maven:3.8-openjdk-17
  stage: build
  script:
  - cd game/game-backend
  - mvn clean package spring-boot:repackage
  artifacts:
    paths:
    - game/game-backend/target/game-backend-0.0.1.jar
    expire_in: 1 hour

build-front:
  image: registry.gitlab.inria.fr/diverse/docker/docker-image/insa-node:16.13.2
  stage: build
  cache:
    paths:
    - game/game-frontend/node_modules/
  script:
  - cd game/game-frontend
  - npm install
  - npm run ng build -- --configuration production --build-optimizer
  artifacts:
    paths:
  ...

init2
  README.md
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-back, build-front

Ajout Jacoco pourcentage min
  .gitlab-ci.yml
  game/game-backend/pom.xml
Due: build-back, build-front

testing front #1
  README.md
  game/game-frontend/cypress.config.ts
  game/game-frontend/cypress/e2e/first.cy.ts
  game/game-frontend/cypress/support/commands.ts
  game/game-frontend/cypress/support/e2e.ts
  game/game-frontend/package-lock.json
  game/game-frontend/package.json
  game/game-frontend/src/app/components/game-menu/game-menu.component.html
  game/game-frontend/src/app/components/partie/partie.component.html
Due: none

Adding the build-docer yml
  .gitlab-ci.yml
Due: build-back, build-front

Adding dockerfiles
  game/game-backend/Dockerfile
  game/game-frontend/Dockerfile
Due: build-back, build-front

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-back, build-front

npm audit
  game/game-frontend/package-lock.json
  game/game-frontend/package.json
Due: build-front

jasmine setup
  game/game-frontend/package-lock.json
  game/game-frontend/package.json
  game/game-frontend/spec/support/jasmine.json
Due: build-front

karma
  game/game-frontend/karma.conf.js
  game/game-frontend/package-lock.json
  game/game-frontend/package.json
Due: build-front

Jasmine unit tests
  .idea/compiler.xml
  game/game-frontend/angular.json
  game/game-frontend/cypress/e2e/first.cy.ts
  game/game-frontend/jest.config.js
  game/game-frontend/karma.conf.js
  game/game-frontend/package-lock.json
  game/game-frontend/package.json
  game/game-frontend/src/app/app.component.spec.ts
  game/game-frontend/src/app/components/cell/cell.component.spec.ts
  game/game-frontend/src/app/components/classement/classement.component.spec.ts
  game/game-frontend/src/app/components/easy/easy.component.spec.ts
  game/game-frontend/src/app/components/finished/finished.component.spec.ts
  game/game-frontend/src/app/components/game-menu/game-menu.component.spec.ts
  game/game-frontend/src/app/components/grille/grille.component.spec.ts
  game/game-frontend/src/app/components/hard/hard.component.spec.ts
  game/game-frontend/src/app/components/inhuman/inhuman.component.spec.ts
  game/game-frontend/src/app/components/insane/insane.component.spec.ts
  game/game-frontend/src/app/components/medium/medium.component.spec.ts
  game/game-frontend/src/app/components/partie/partie.component.spec.ts
  game/game-frontend/src/app/components/very-hard/very-hard.component.spec.ts
  game/game-frontend/src/app/service/sudoku.service.spec.ts
  game/game-frontend/src/app/service/sudoku.service.ts
  game/game-frontend/tsconfig.json
Due: build-front

eslint configured
  game/game-frontend/.eslintrc.json
  game/game-frontend/package-lock.json
  game/game-frontend/package.json
Due: build-front

automatic fixes
  game/game-frontend/src/app/Grille.ts
  game/game-frontend/src/app/Partie.ts
  game/game-frontend/src/app/cell.ts
  game/game-frontend/src/app/components/easy/easy.component.ts
  game/game-frontend/src/app/components/game-menu/game-menu.component.ts
  game/game-frontend/src/app/components/hard/hard.component.ts
  game/game-frontend/src/app/components/inhuman/inhuman.component.ts
  game/game-frontend/src/app/components/insane/insane.component.ts
  game/game-frontend/src/app/components/medium/medium.component.ts
  game/game-frontend/src/app/components/very-hard/very-hard.component.ts
  game/game-frontend/src/app/service/sudoku.service.ts
  game/game-frontend/src/app/setvalue.ts
Due: build-front

manual fixes
  game/game-frontend/.eslintrc.json
  game/game-frontend/src/app/classement.ts
  game/game-frontend/src/app/components/cell/cell.component.ts
  game/game-frontend/src/app/components/classement/classement.component.ts
  game/game-frontend/src/app/components/easy/easy.component.ts
  game/game-frontend/src/app/components/game-menu/game-menu.component.ts
  game/game-frontend/src/app/components/grille/grille.component.ts
  game/game-frontend/src/app/components/hard/hard.component.ts
  game/game-frontend/src/app/components/inhuman/inhuman.component.ts
  game/game-frontend/src/app/components/insane/insane.component.ts
  game/game-frontend/src/app/components/medium/medium.component.ts
  game/game-frontend/src/app/components/partie/partie.component.ts
  game/game-frontend/src/app/components/very-hard/very-hard.component.ts
  game/game-frontend/src/app/difficulte.ts
  game/game-frontend/src/app/service/overlay.service.ts
  game/game-frontend/src/app/service/sudoku.service.ts
Due: build-front

linting ci cd integration
  .gitlab-ci.yml
Due: build-back, build-front

linting ci cd integration 2
  .gitlab-ci.yml
Due: build-back, build-front

linting ci cd integration 3
  .gitlab-ci.yml
Due: build-back, build-front

linting ci cd integration 4
  .gitlab-ci.yml
Due: build-back, build-front

linting ci cd integration 5
  .gitlab-ci.yml
Due: build-back, build-front

Adding the config file for kubernetes
  k8s-deployment.yml
Due: none

Fixing the deploy
  game/game-frontend/Dockerfile
  game/game-frontend/nginx.conf
  k8s-deployment.yml
Due: build-front

add a cypress test
  game/game-frontend/cypress/e2e/first.cy.ts
  game/game-frontend/cypress/e2e/spec.cy.ts
Due: build-front

Updated README
  README.md
Due: none

Final edition
  README.md
Due: none

Upload
  Compte-rendu_DevOps.pdf
Due: none

Path conditions:
  build-back: (not (any of: *.md)) and (any of: game/game-backend/**/*, .gitlab-ci.yml)
  build-front: (not (any of: *.md)) and (any of: game/game-frontend/**/*, .gitlab-ci.yml)
